# ===== Python cache =====
__pycache__/
*.py[cod]

# ===== Virtual environments =====
.venv/
venv/
env/

# ===== VS Code =====
.vscode/

# ===== PyCharm =====
.idea/

# ===== Jupyter Notebook =====
.ipynb_checkpoints/

# ===== Logs =====
*.log

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Build / dist =====
build/
dist/
*.egg-info/

# ===== Test / coverage =====
.pytest_cache/
.coverage
htmlcov/

# ===== Secrets (ВАЖНО) =====
.env

Practice1/python-basics/main.py

Practice4/sample-data.json
